@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

@if (Model.IsAuthenticated)
{
    <div style="width : 100%;">
        
        <div id="chat" style="border : 1px solid #000000; padding : 10px; max-height : 500px; width : 100%; overflow: auto">

        </div>

        <form id="form" style="margin-top : 10px;">
            <input id="message" type="text" style="width: calc(100% - 65px);" placeholder="Czat..."/>
            <button type="submit" style="float : right;">Wyslij</button>
        </form>

    </div>
    
    <script>
    var isAuthentiacted = true;
    </script>
}
else
{
    <h3>Chat dostępny jest dla zalogowanych użytkowników</h3>
    <h5><a href="https://localhost:44375/Identity/Account/Login">Zaloguj sie</a> aby mieć dostep do czatu</h5>
}